/* CSS */
html, body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-color:eee;
    font-family: Arial, Helvetica, sans-serif;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
  }

*,*:before, *:after{
    box-sizing: inherit;
}

.container {
    margin-top: 10%;
    border: 2px solid #82b1ff;
    padding-left:10px;
    font-size:15px;
    font-family: 'Abril Fatface', cursive;
}

.question {
    font-size: 20px;
}

.option {
    margin: 10px 0px;
}

button {
    margin:10px;
}

#optionOne,#optionTwo,#optionThree{
    /* text-decoration: none; */
    color:black;
    font-style:normal;
}

.brand-logo {
    pointer-events: none;
}